body {
    margin: 0;
}

.comentario {
    /*border-left: 15px solid white;*/
    border: 5px solid #343a40;
    background-image: url('../imagens/index/aryan-dhiman-iGLLtLINSkw-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color:  rgb(77, 74, 97);*/
    height: 70vh;
    margin-bottom: 0;
}

.texto {

    background-color: #343a40bb;
    margin: 0;
    width: 50%;
    height: 100%;

}

main {
    padding-top: 80px;
}
.cover1{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.footer-bg {
    padding-top: 0;
    margin-top: 0;
}
@media all and (max-width: 500px) {
    .preco-atual p {
        font-size: 1.5vmax;
    }
    .promo p {
        font-size: 1.5vmax;
    }
    .box-produtos{
        padding: 5px  2px;
        margin: 0;
    }

}